.modal-container {
    z-index: 2;
    width: calc(100% - 14rem);
    height: calc(100vh - 56px);
    overflow: auto;
    background-color: #80808060;
    justify-content: center;
    align-items: center;
}