.singleVideo-container {
    width: 95%;
    margin-inline: auto;
    margin-top: 1rem;
}

.container-wrapper {
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-bottom: 1.5rem;
}

.divider {
    border: 1px solid gray;
}

.videoDescription {
    max-width: 675px;
}